<div class="page-header">
  <h1>Willkommen zum Einbeinigen</h1>
</div>
<% if current_user %>
  <div class="lead">
  <p>Hallo,</p>

  <% unless current_user.proposals.empty? %>
    <p>Deine aktuellen Vorschläge:</p>
  <ul>
    <% current_user.proposals.each do |proposal| %>
      <li><%= link_to "#{proposal.title} (#{proposal.translated_state})", proposal_path(proposal) %></li>
  <% end %>
  </ul>
<% else %>
    <p>Keine Vorschläge vorhanden.</p>
<% end %>
<% if Setting.proposals_enabled? %>
<%= link_to raw('<span class="fa fa-pencil"></span> Neuen Vorschlag anlegen'), new_proposal_path, class: 'btn btn-success btn-lg' %>
<% else %>

<a href="#" class="btn btn-default btn-lg "><i class="fa fa-pencil"></i>Aktuell können keine Vorschläge erstellt werden.</a>
<br />
<small>Holgi gibt auf Twitter bekannt, wenn Vorschläge erstellt werden können.</small>
<% end %>
</div>

<% else %>
  <div class="lead">
  <p>Hier kannst du dich für die Hörertalksendung Ferngespräche anmelden.</p>
  <p>Dafür brauchst du einen Account, den du <%= link_to "hier", new_user_registration_path  %> erstellen kannst. Falls du schon einen Account hast, kannst du dich <%= link_to "hier", new_user_session_path %> einloggen.</p>
</div>
<% end %>
