<h2>Passwort vergessen?</h2>
<div class="col-xs-12 col-md-6">
<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: 'form-horizontal' }, defaults: { input_html: { class: 'form-control' } }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email %>

  <%= f.button :submit, value: 'Passwort zusenden' %>
<% end %>
</div>
